page-register {
  .content{
    background-color: color($colors, primary);
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .box {
    img {
      margin-top: 1em;
    }
    padding: 1em;
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1;
    width: 100%;
    min-height: 100%;
    z-index: 2;
    text-align: center;
  }
  .logo{
    display: inline-block;
    height: 100px;
    width: 100px;
  }
}
